<div>
  <a href='/angebote/supervision-coaching/'>
    <section class='bg-gray topic no-padding'>
      <div class='container stripe-yellow'>
        <h4>Beratung</h4>
        <h3 class='dark-yellow'>Supervision und Coaching</h3>
      </div>
    </section>
  </a>

  <a href='/angebote/seminare-workshops/'>
    <section class='bg-gray topic no-padding'>
      <div class='container stripe-orange'>
        <h4>Bildung</h4>
        <h3 class='dark-orange'>Seminare, Workshops, Vorträge</h3>
      </div>
    </section>
  </a>

  <a href='/angebote/psychomotorik/'>
    <section class='bg-gray topic no-padding'>
      <div class='container stripe-red'>
        <h4>Bewegung</h4>
        <h3 class='dark-red'>
          Psychomotorische Entwicklungsbegleitung,
          Motopädagogik und Motogeragogik
        </h3>
      </div>
    </section>
  </a>
</div>
