<ul class='offersmenu'>
  <li class='yellow'>
    <a href='/angebote/supervision-coaching/' class='{% if page.permalink == "/angebote/supervision-coaching/"%}current{% endif %}'>
      <h4 class='dark-yellow'><b>Beratung</b> &middot; Supervision und Coaching</h4>
    </a>
  </li>

  <li class='orange'>
    <a href='/angebote/seminare-workshops/' class='{% if page.permalink == "/angebote/seminare-workshops/"%}current{% endif %}'>
      <h4 class='dark-orange'><b>Bildung</b> &middot; Seminare, Workshops, Vorträge</h4>
    </a>
  </li>

  <li class='red'>
    <a href='/angebote/psychomotorik/' class='{% if page.permalink == "/angebote/psychomotorik/"%}current{% endif %}'>
      <h4 class='dark-red'>
        <b>Bewegung</b> &middot; Psychomotorische Entwicklungsbegleitung,
          Motopädagogik und Motogeragogik
      </h4>
    </a>
  </li>
</ul>
